<nav id="nav">
  <ul class="links">
    <li><%= link_to '文章首頁' ,root_path %></li>
    <li><%= link_to "關於我們", home_about_path %></li>
    <li><%= link_to "聯絡我們", home_contact_path %></li>
    <li><%= link_to "語言百科", home_coming_soon_path %></li>
  </ul>
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>
</nav>
<div id="main">

  <article class="post featured">
    <header class="major">
      <span class="date"></span>
      <h2>Coming Soon!</h2>
      <p>這個頁面功能仍在測試中，敬請期待!</p>
    </header>
    <a class="image main"><img src="<%= asset_path 'wrapper1.png'%>" alt="" /></a>
  </article>


</div>