<nav id="nav">
  <ul class="links">
    <li><%= link_to '文章首頁' ,root_path %></li>
    <li><%= link_to "關於我們", home_about_path %></li>
    <li class="active"><%= link_to "聯絡我們", home_contact_path %></li>
    <li><%= link_to "語言百科", home_coming_soon_path %></li>
  </ul>
  <ul class="icons">
    <li><a href="#" class="icon fa fa-twitter"></a></li>
    <li><a href="#" class="icon fa fa-facebook"></a></li>
    <li><a href="#" class="icon fa fa-instagram"></a></li>
  </ul>
</nav>
<!-- Footer -->
<footer id="footer">
  <section>
    <%#= form_for @contact do |f| %>
      <div class="field">
        <label for="name">Name</label>
        <%= text_field :name, :required => true , placeholder: "姓名" , class: "form-input", id: "contact-first-name" ,  type:"text" , name: "name" %>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    <%# end %>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Address</h3>
      <p></p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="#">(000) 000-0000</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="#">imhere20180428@gmail.com</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>
    </section>
  </section>
</footer>