<!DOCTYPE html>
<html>
  <head>
    <title>I-M HERE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <%= favicon_link_tag 'icon.png' %>
  </head>
    
  <body class="is-loading">
    <div id="wrapper" class="fade-in">

      <div id="intro">
        <h1>I-M HERE</h1>
        <h1>商業x英文x德文</h1> 
        <p>Try to do our best.
        </p>
        <ul class="actions">
          <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
      </div>

      <header id="header">
        <%= link_to 'Massively', root_path , class: "logo" %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
